/* basic style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__logo {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.section__target-item {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.section__add-item {
  display: flex;
}

.section__items {
  margin: 0;
  padding: 0px;
}

.section__item,
.section__caption {
  list-style: none;
}

.section__input,
.section__btn {
  outline: none;
}

.section__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.section__btn:hover {
  color: #3a3a3a;
}

/* heading */
.section__caption {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.section__input--text-decoration {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.section__input--text-decoration:focus {
  color: #333;
}

/* new task */
.section__caption--add {
  display: block;
  margin: 0 0 20px;
}

.section___new-task {
  width: 318px;
}

/* task list */
.section__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__input,
.section__label,
.section__btn {
  vertical-align: middle;
}

.section__input--checkbox {
  margin: 0 10px;
}

.section__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.section__target-text {
  width: 226px;
}

.section__btn-img {
  height: 2em;
  transform: rotatez(45deg);
  transition: transform 200ms ease-in;
}

.section__btn-img:hover {
  transform: rotatez(0);
}

/* completed */
.section__items--done .section__label {
  text-decoration: line-through;
  color: #888;
}

/* edit task */
.section__item .section__input--text-decoration {
  display: none;
}

.section__item.section__item--edit-mode .section__input--text-decoration {
  display: inline-block;
  width: 224px;
}

.section__item.section__item--edit-mode .section__label {
  display: none;
}